<!DOCTYPE html>
<html>
<head>
    <title>Стартовая страница</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f4f4f4;
        }
        .container {
            max-width: 500px;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <div class="container text-center">
        <h1>Добро пожаловать на наш сервис!</h1>
        <h4>Чтобы получить доступ, необходимо зарегистрироваться или войти<h4>
        <a href="/login" class="btn btn-primary btn-lg">Вход</a>
        <a href="/register" class="btn btn-secondary btn-lg">Регистрация</a>
    </div>
</body>
</html>
